<html ng-app="myApp">
<head>
	<title>listDirectives.html</title>

	<link rel="stylesheet" href="..\..\Scripts\bootstrap-3.3.7-dist\css\bootstrap.min.css" />	
	<link src="..\..\Scripts\bootstrap-3.3.7-dist\js\bootstrap.min.js" />		
	
	<link rel="stylesheet" href="..\..\fonts\font-awesome-4.6.3\css\font-awesome.min.css" />	
	<link rel="stylesheet" href="..\..\Scripts\angular-tooltips\dist\angular-tooltips.min.css" />		
	
	
	<link rel="stylesheet/less" type="text/css" href="css\style.less" />

	<script   src="http://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>

	
	<script src="..\..\Scripts\less\dist\less.js" type="text/javascript"></script>
	<!-- <script  type="text/JavaScript" src='..\..\Scripts\angular-1.4.6\angular.js'></script>
	-->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.11/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.11/angular-animate.js"></script>
	<script src="..\..\Scripts\ui-router-0.2.15\release\angular-ui-router.min.js"></script>	
	
	<script  type="text/JavaScript" src='..\..\Scripts\angular-tooltips\dist\angular-tooltips.min.js'></script>
	<script  type="text/JavaScript" src='..\..\Scripts\restangular\restangular.js'></script>	
	<script  type="text/JavaScript" src='..\..\Scripts\toaster\toastr.min.js'></script>	
	
	<!-- <script  type="text/JavaScript" src='components\SupportViaAngular.js'></script>	-->	
	<script  type="text/JavaScript" src='data\RecordTypes.js'></script>		
	<script  type="text/JavaScript" src='app\app.js'></script>	
	<script  type="text/JavaScript" src='components\SortBuilderController.js'></script>		
	
	<script  type="text/JavaScript" src='data\addressData.js'></script>
	
	<script  type="text/JavaScript" src='components\SortClauseBuilderComponent.js'></script>	

	<script  type="text/JavaScript" src='app\formDirectives.js'></script>		
	<script  type="text/JavaScript" src='app\formController.js'></script>	
	
</head>
<body >

<div class="jumbotron text-center">
    <h2>Example angular spa</h2>
    <p>Some tests</p>  

    <button ui-sref="home" class="btn btn-primary">home</button>
    <button ui-sref="editAddress({id: 1})" class="btn btn-primary">edit 1</button>	
    <button ui-sref="editAddress({id: 2})" class="btn btn-primary">edit 2</button>	
    <button ui-sref="editAddress({id: 3})" class="btn btn-primary">edit 3</button>
    <button ui-sref="editAddress({id: star.recno})" class="btn btn-primary">edit 3</button>
	
    <button ui-sref="about" class="btn btn-danger">about</button>
</div>

	<form class='inputForm' name="addressForm" ng-controller='formController as fc' novalidate>
		<h4 class='inputFormSubTitle' >Addresses of the Stars</h4>
	
		<fieldset  class='inputFormFieldset>

			<div id='centerableTopPart'>
				<div class='inputGroup'>
					<label>First Name:</label>
					<input type='text' name='firstName' ng-model='fc.record.firstName' required />
						<i ng-show='addressForm.firstName.$touched && !addressForm.firstName.$valid' class="fa fa-thumbs-down fa-1x"></i>
				</div>
				<div class='inputGroup'>
					<label>Last Name:</label>
					<input type='text' name='lastName' ng-model='fc.record.lastName' required />
						<i ng-show='addressForm.lastName.$touched && !addressForm.lastName.$valid' class="fa fa-thumbs-down fa-1x"></i>				
				</div>	
				
				<div class='inputGroup'>
					<label>Address:</label>
					<input type='text' name='address' ng-model='fc.record.address' required />
						<i ng-show='addressForm.address.$touched && !addressForm.address.$valid' class="fa fa-thumbs-down fa-1x"></i>				
				</div>

				<div class='inputGroup'>
					<label>City:</label>
					<!-- works	-->	
					<input type='text' name='city' ng-model='fc.record.city' required ng-pattern='/^Beverly/' />				
					
					<!-- <input type='text' simple-pattern-validator pattern="/^Beverly.*/" name="city"
						ng-model='fc.record.city' required /> 	-->	
						<i ng-show='addressForm.city.$touched && !addressForm.city.$valid' class="fa fa-thumbs-down fa-1x"></i>	
					<span ng-show="addressForm.city.$error.pattern">Not a valid name </span>
	
				</div>
				
				<div class='inputGroup'>
					<label>State:</label>
					<input type='text' name='state' ng-model='fc.record.state' required />
						<i ng-show='addressForm.state.$touched && !addressForm.state.$valid' class="fa fa-thumbs-down fa-1x"></i>				
				</div>	
				
				<div class='inputGroup'>
					<label>Zip:</label>
					<input type='text' name='zip' ng-model='fc.record.zip' required />
					<i ng-show='addressForm.zip.$touched && !addressForm.zip.$valid' class="fa fa-thumbs-down fa-1x"></i>
				</div>
			
			</div>
			<br />
			<div style="text-align:center;">
			
				<a class='iconButton' href='' ng-click='fc.previous()'><i tooltips tooltip-template="Back up one record" class="fa fa-hand-o-left fa-2x"  ></i> </a>
				<a class='iconButton' href='' ng-click='fc.newRecord()'><i tooltips tooltip-template="Create new record" class="glyphicon glyphicon-plus fa-2x"  ></i> </a>
				<a class='iconButton' href='' ng-click='fc.save()' ><i tooltips tooltip-template="Save record" class="glyphicon glyphicon-save fa-2x"  ></i> </a>	
				<a class='iconButton' href='' ng-click='fc.deleteRecord()' ><i tooltips tooltip-template="Delete record" class="glyphicon glyphicon-trash fa-2x"  ></i> </a>				
				
				<a class='iconButton' href='' ng-click='fc.next()' ><i  tooltips tooltip-template="Move forward one record" class="fa fa-hand-o-right fa-2x"></i> </a>
			
			</div>
			<div class='recordCounter' >
				<p style='padding:10px;' >Record: {{recno + 1}} of {{data.length}}</p>
			</div>			

			
			<!-- start of builder demo -->			
			<input id="orderClause" type="hidden" value="">

			<div style="border:thin black solid;  margin-left: 10px; padding-left: 5px; padding-right: 5px; background: lightblue; font-size: xx-small;">

				<table style="width: 310px; border-spacing: 4px;">
					<tr>
						<td class="fmtleft">Sort Order:</td>
						<td class="fmtright" style='padding: 8px;'>			
							<div id='mySortPicker' sort-clause-builder="SortColumns2" 
								tablename='Addresses of the Stars'
								pickername="picker1" sortlevs='5' 
								 sortcols="" style='padding: 8px;'
                                             selections="lastName, city"
                                             set-fn="setDirectiveFn(theDirFn)"><!-- Check this out, it's tricky  -->
							</div>

						</td>
					</tr>

					<tr> <!-- -->
						<td colspan="2" ng-controller='SortBuilderController as SortBuilder' >
							<button name='bgetSortOrderClause' id='bgetSortOrderClause' ng-click="SortBuilder.getSortOrderClause()">getSortOrderClause</button>	
							<button name='bgetSortOrderClauseFromModel' id='bgetSortOrderClauseFromModel' ng-click="SortBuilder.getSortOrderClauseFromModel()">getSortOrderClauseFromModel</button>	
							<button id="shoparammodal" ng-click="fc.showparm()">showparm modal</button>
							<button name='bshowparm' id='bshowparmmodal' ng.click="fc.showparm()">bshowparmmodal</button>
													
						</td>
					</tr>
					<tr>
					<td colspan="2" >

					</td>
					</tr>

					<tr>
						<td class="fmtleft">Paginated:</td>
						<td class="fmtright">
							<input type="checkbox" id="inpaginate" name="inpaginate" ng-checked="(paginate === 1)" />
						</td>
					</tr>


				</table>
				<div style='border-style; dotted;'>
					<w3-test-directive></w3-test-directive>				
				</div>
				
			</div>
			<!-- end of builder demo -->
			<div style='margin: 10px'>			
				<code>addressForm.firstName.$valid = {{addressForm.firstName.$valid}}</code><br>
				<code>addressForm.firstName.$error = {{addressForm.firstName.$error}}</code><br>
				
				<code>addressForm.lastName.$valid = {{addressForm.lastName.$valid}}</code><br>
				<code>addressForm.lastName.$error = {{addressForm.lastName.$error}}</code><br>	
				
				<code>addressForm.address.$valid = {{addressForm.address.$valid}}</code><br>
				<code>addressForm.address.$error = {{addressForm.address.$error}}</code><br>
				
				<code>addressForm.city.$valid = {{addressForm.city.$valid}}</code><br>
				<code>addressForm.city.$error = {{addressForm.city.$error}}</code><br>	
				<code>addressForm.city.$error.patern = {{addressForm.city.$error.pattern}}</code><br>		
				
				<code>addressForm.state.$valid = {{addressForm.state.$valid}}</code><br>
				<code>addressForm.state.$error = {{addressForm.state.$error}}</code><br>

				<code>addressForm.zip.$valid = {{addressForm.zip.$valid}}</code><br>
				<code>addressForm.zip.$error = {{addressForm.zip.$error}}</code><br>
				
				<code>addressForm.buffer.$valid = {{addressForm.buffer.$valid}}</code><br>				
				<code>addressForm.buffer.$error = {{addressForm.buffer.$error}}</code><br>				
				<code>addressForm.$valid = {{addressForm.$valid}}</code><br>
				<code>addressForm.$error.required = {{!!addressForm.$error.required}}</code><br>
			</div>
		
			
		</fieldset>		
	</form>
      <div ui-view></div>
	  
	    
	  <p>Plain ng-repeat</p>	  
		<div class='datagrid'>
			<table width="1200px" ng-controller='formController as fmc'>

				<tr>

					<th>recno</th>
					<th>firstName</th>
					<th>lastName</th>
					<th>address</th>
					<th>city</th>
					<th>state</th>				
					<th>zip</th>				
					
				</tr>


				<tr ng-repeat="star in fmc.data" ng-class-even="'evenrow'" ng-class-odd="'oddrow'">

					<td><a ui-sref="/editAddress({id: star.recno})">{{star.recno}}</a></td>				
					<td>{{star.firstName}}</td>
					<td>{{star.lastName}}</td>
					<td>{{star.address}}</td>
					<td>{{star.city}}</td>
					<td>{{star.state}}</td>			
					<td>{{star.zip}}</td>	
					
				</tr>
			</table>
		</div>
		
		<p>myTable directive</p>
		<div class='datagrid' ng-controller="formController as fmc">		
			<div my-table></div>
		</div>


</body>
</html>