
<br />
<span id="noRecords" style="display:none;">No movies match your search</span>
<table id="movieList" class="table table-hover" ng-swipe-left="swipeLeft()" ng-swipe-right="swipeRight()">
	<colgroup>
		<col />
		<col />
		<col />
		<col id="x" class="hidden-xs" style="display:none;" />
	</colgroup>
	<tr>
		<th class="noborder">Rating</th>
		<th class="noborder">Title</th>
		<th class="noborder">Year</th>
		<th class="noborder"></th>
	</tr>

	<tr ng-repeat="movie in movies" ng-click="showDetails(movie)">
		<!--	<td>{{$index}}{{$first}}/{{$middle}}/{{$last}}/{{$odd}}/{{$even}}</td> -->
		<td><span class="icon {{movie.ratings.audience_rating.toLowerCase()}}" /> {{movie.ratings.audience_score}}%</td>
		<td>{{movie.title}}</td>
		<td>{{movie.year}}</td>
		<td class="hidden-xs"><a href="#/details/{{movie.id}}">Details</a></td>
	</tr>

	<tr id="footer">
		<td colspan="4">
			<!-- hack: we need the pagesize to float right, so needs to be first, but... for phones we want it to "follow" paging links, so needs to be second. Grrrr.
			Just duplicate and show/hide then. Not horrible as we need different styling for the two cases as well. -->
			<div class="form-group visible-sm visible-md visible-lg" style="display:inline-block; float:right; margin:28px 0px;">
				<label>Results</label>
				<select ng-model="page.pageSize">
					<option>5</option>
					<option>10</option>
					<option>25</option>
					<option>50</option>
				</select>
				<label>&nbsp;of&nbsp; {{paging.total}}</label>
			</div>

			<pagination init="paging.init" num-pages="paging.numPages" num-links=paging.numLinks current-page="page.currentPage" on-select-page="paging.selectPage(page)"></pagination>

			<div class="form-group visible-xs">
				<label>Results</label>
				<select ng-model="page.pageSize">
					<option>5</option>
					<option>10</option>
					<option>25</option>
					<option>50</option>
				</select>
				<label>&nbsp;of&nbsp; {{paging.total}}</label>
			</div>
		</td>
	</tr>
</table>
