
<div class='datagrid' >		
	<!-- <my-table table="Addresses of the Stars" cols='"firstName", "lastName", "address", "city", "state", "zip", "RecordStatus"' />  -->

  <h4 class="majorSubTitle">Addresses of the Stars</h4>

  <table style="width: 1200px;  margin-left: auto;   margin-right: auto; ">
    <tr class='grid_header'>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Address</td>
        <td>City</td>
        <td>State</td>
        <td>Zip</td>      
        <td>recno</td>        
        <td>Controls</td>           
    </tr>
    <tr ng-repeat="star in lc.list" ng-class-even="'evenrow'" ng-class-odd="'oddrow'">
        <td ng-click="lc.goToLink(star)">{{star.firstName}}</td>
        <td ng-click="lc.goToLink(star)">{{star.lastName}}</td>
        <td ng-click="lc.goToLink(star)">{{star.address}}</td>
        <td ng-click="lc.goToLink(star)">{{star.city}}</td>
        <td ng-click="lc.goToLink(star)">{{star.state}}</td>
        <td ng-click="lc.goToLink(star)">{{star.zip}}</td>  
        <td ng-click="lc.goToLink(star)">{{star.recno}}</td>           
        <td><div edit-controls star="{{star.recno}}" > </div></td>

    </tr>

  </table>
        


  <br /><h3>Click row to go to that record</h3> 
	
	<br /><h3>addresses.html</h3>	
</div>

